/saves/
/minecraftinstance.json
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/discord.xml
/.curseclient
/ears-debug.log
/enigmatic_persistence.dat
/patchouli_data.json
/rhino.local.properties
/servers.dat
/supportercache.json
/usercache.json
/usernamecache.json
/screenshots/
/crash-reports/
/logs/
/lightspeed-cache/
/modernfix/
